.text-danger {
    color: #e11d48;
    font-weight: 600;
}

.text-danger small {
    display: block;
    font-size: 0.75rem;
    color: #64748b;
}

.analysis-table-wrapper table th {
    background: rgba(255, 255, 255, 0.05);
    padding: 12px;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.analysis-table-wrapper table th,
.analysis-table-wrapper table td {
    text-align: left !important; 
    padding: 12px;
}


.text-danger {
    color: #e11d48;
    font-weight: 600;
    text-align: left; 
    display: block;  
}

.text-danger small {
    display: block;
    font-size: 0.75rem;
    color: #64748b;
    margin-top: 2px;
}


.analysis-table-wrapper table th {
    background: rgba(255, 255, 255, 0.05);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-align: left;
}


body.modal-open {
    overflow: hidden;
    height: 100vh;
}